.contenedor-cajas {
	position: relative;
}
.caja {
	display: block;
	height: 100px;
	width: 100px;
}
.inline-block {
	display: inline-block;
}
.naranja {
	background: orange;
}
.azul {
	position: static;
	background: lightskyblue;
}
.relativa {
	display: inline-block;
	bottom: 100px;
	left: 100px;
	position: relative;
}
.absoluta1 {
	position: absolute;
	left: 0;
	top: 0;
}
.absoluta2 {
	position: absolute;
	left: 6px;
	top: 6px;
}
.absoluta1-right {
	position: absolute;
	top: 0;
	right: 0;
}
.absoluta2-right {
	position: absolute;
	top: 6px;
	right: 6px;
}


.fixed {
	position: fixed;
	right: 0;
	top: 86px;
}

.sticky {
	top: 86px;
	position: sticky;
}
.super-enter {
	min-height: 450px;
	border: solid 1px red ;
}

@media screen and (max-width: 600px) {
	.fixed {
		position: static;
		left: 0;
		right: auto;
		top: 0;
	}
}