:root {
	--main-content-bg-color: #e7e7e7;
	--main-underline-color: #c4c4c4;
	--main-font-color: gray;
	--main-pixel-size: 24px;
}
body, p, i, b {
	margin: 0;
	font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}
h1 {
	margin: var(--main-pixel-size);
}
article {
	background: var(--main-content-bg-color);
	border-bottom: solid 2px var(--main-underline-color);
	margin: 0 var(--main-pixel-size);
	padding: 12px var(--main-pixel-size);
	max-width: 230px;
}
article * {
	padding: 0;
	/* margin: 0 var(--main-pixel-size); */
}
article h1 {
	color: var(--main-font-color);
	margin: 12px 0;
	/* padding: 12px 0 12px 0; */
	text-decoration: underline var(--main-underline-color);
}
article p {
	border-bottom: solid 1px var(--main-underline-color);
	color: var(--main-font-color);
	font-size: 0.8rem;
	margin-bottom: 12px;
	padding: 12px 0 6px 0;
}