body {
	margin: 0;
}

.contenedor {
	display: grid;

	grid-template-columns: 1fr 500px 1fr;
	grid-template-rows: 100px
						1fr
						200px;
	min-height: 100vh;
	grid-template-areas:"header		header		header"
						".			content		publicidad"
						"footer		footer		footer";
}
.item {
	min-height: 300px;
}

.header {
	grid-area: header;
	border: solid 2px red;
	padding: 10px;
}
main {
	grid-area: content;
	border: solid 2px blue;
	
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	
}
.publicidad {
	grid-area: publicidad;
	border: solid 2px green;
	position: relative;
}
.publicidad p {
	position: sticky;
	top: 0;
}
footer {
	grid-area: footer;
	border: solid 2px orange;
}

@media screen and (max-width: 768px) {
	.contenedor {
		grid-template-columns: 1fr;
		grid-template-rows: 100px
							1fr
							100px
							150px;
		
		grid-template-areas:"header"
							"content"
							"publicidad"
							"footer";
	}
}