body {
	margin: 0;
}
.main-container {
	display: grid;
	grid-template-columns: 170px 1fr;
	grid-template-rows: 80px
						1fr
						150px;
	grid-template-areas:"header 	    header"
						".    content2"
						"footer        footer";
	min-height: 100vh;
	/* min-width: 100vw; */
}
div {
	font-size: 36px;
}
.header {
	grid-area: header;
	background: #e07676;
}
.content1 {
	grid-area: content1;
	background: #3cff00;
	max-height: inherit;
}
.content3 {
	display: none;
}
.content2 {
	grid-area: content2;
	background: blue;
}
.content2 h1, .content2 p {
	margin: 10px 20px;
}
.footer {
	grid-area: footer;
	color: white;
	background: gray;
}

@media screen and (max-width: 768px) {

	.main-container {
		/* display: grid; */
		grid-template-columns: 1fr;
		grid-template-rows: 240px
							80px
							1fr
							80px
							150px;
		grid-template-areas:"header"
							"content1"
							"content2"
							"content3"
							"footer";
		min-height: 100vh;
	}

	.content3 {
		color: red;
		display: block;
		grid-area: content3;
		background: #ffd000;
		text-decoration: underline;
	}
}