:root {
	--main-content-with: 10%;
}
body {
	margin: 0;
	font-family: Arial;
	background-color: #ffecca;
}
header {
	top: 0px;
	position: fixed;
	width: 100vw;
	background-color: white;
}
nav {
	/* width: 100%;vw */
	height: 55px;
	margin: 15px 10%;
}
#logo {
	margin: 0 45px 0 0;
}
nav ul {
	margin: 0;
	padding: 0;
	/* En lugar de mostrarse en una nueva línea, estos elementos aparecen en la misma línea */
	display: inline-block;
	/* Alínea los items del menu en la parte superior del header */
	vertical-align: top;
}
nav ul li {
	margin-right: 20px;
	display: inline-block;
	/* Nos aseguramoms de que los links tengan la misma altura que "nav", 
		centrando el texto verticalmente */
	line-height: 40px;
}
nav a {
	color: gray;
	font-weight: bold;
	text-decoration: none;
}
.menu {
	margin: 0;
}
.menu-izquierda {

}
.menu-derecha {
	float: right;
}

section {
	margin: 100px 10%;
}
h1 {
	color:#3b57d6;
	font-family: 'Times New Roman';
}
p {
	font-size: 18px;
}
/* Estilo para un p con id "texto-4" */
p#texto-4 {
	background-color: #000000;
	color: green;
	margin-left: 30px;
	margin-right: 80%;
}
.contenedor-botones {
	margin: 25px 0;
	padding: 25px;
	border: 2px solid blueviolet;
	border-left: solid 5px #7e3434;
}
.boton {
	border: none;
	border-radius: 5px;
	background-color: #333;
	padding: 10px 20px;
	margin: auto 15px;
	font-weight: bold;
	color: white;
	cursor: pointer;
}
.aceptar {
	transition: ease .4s;
	background-color: #67dee7;
	border-bottom: solid 4px #34797e;
}
/* Estilo para la clase "aceptar" cuando se pasa el mouse sobre el elemento */
.aceptar:hover {
	background-color: #4eb2b9;
}
.cancelar {
	transition: ease .4s;
	background-color: #e76767;
	border-bottom: solid 4px #7e3434;
}
/* Estilo para la clase "cancelar" cuando se pasa el mouse sobre el elemento */
.cancelar:hover {
	background-color: #b94e4e;
}
.contenedor-cajas {
	padding: 10px;
	border: solid 2px green;
	border-radius: 25px;
	/* width: 50%; */
}
.caja {
	border-radius: 12.5px;
	/* display: inline-block; */
	border: solid 2px red;
	margin: 2% 5%;
	padding: 25px 11%;
}

.azul {
	background-color: #3399ff;
}