:root {
	--main-content-width: 150px;
}
body {
	margin: 0;
	font-family: Arial;
	background-color: #dbdbdb;
}
header {
	top: 0px;
	position: fixed;
	width: 100vw;
	/* background-image: linear-gradient(#6d6d74, #303030); */
}
nav {
	/* width: 100%;vw */
	height: 55px;
	margin: 15px var(--main-content-width);
}
a#logo img {
	border-radius: 10px;
	margin: 0 45px 0 0;
}
nav ul {
	margin: 0;
	padding: 0;
	/* En lugar de mostrarse en una nueva línea, estos elementos aparecen en la misma línea */
	display: inline-block;
	/* Alínea los items del menu en la parte superior del header */
	vertical-align: top;
}
nav ul li {
	margin-right: 20px;
	display: inline-block;
	/* Nos aseguramoms de que los links tengan la misma altura que "nav", 
		centrando el texto verticalmente */
	line-height: 40px;
}
nav a {
	color: #dfdfdf;
	font-weight: bold;
	text-decoration: none;
}
nav a:hover {
	color: white;
}
.menu {
	margin: 0;
}
/* .menu-izquierda {

} */
.menu-derecha {
	float: right;
}

section {
	margin: 50px var(--main-content-width);
}
#main {
	margin-top: 110px;
}
h1 {
	color:#303030;
	/* font-size: 32px; */
}
p {
	/* font-size: 12px; */
}
/* Estilo para un p con id "texto-4" */
p#texto-4 {
	background-color: #000000;
	color: green;
	margin-left: 30px;
	margin-right: 80%;
}
.contenedor-botones {
	/* border: 2px solid blueviolet; */
	border: 3px solid #008080;
	border-left: solid 5px #7e3434;
	border-radius: 20px;
	margin: 20px 0;
	padding: 20px;
}
.btn {
	border: none;
	border-radius: 5px;
	background-color: #333;
	box-shadow: none; /** Truco para el botón */
	padding: 10px 20px;
	margin: auto 15px;
	font-weight: bold;
	color: white;
	cursor: pointer;
	transition: .2s;
}
/* Estilo para la clase "boton" cuando se pasa el mouse sobre el elemento */
.btn:hover {
	box-shadow:inset 0 0 0 99999px rgba(0,0,0,0.25);
}
.left {
	position: absolute;
}
.aceptar {
	background-color: #55e25c;
}
.cancelar {
	background-color: #e76767;
}
.contenedor-cajas {
	padding: 10px;
	border: solid 2px green;
	border-radius: 8px 0 20px 50px;
}
.caja {
	border-radius: 19.5px;
	border: solid 2px red;
	display: inline-block;
	margin: 12px;
	padding: 10px 25px;
}
.azul {
	background-color: #3399ff;
}